@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
.homebg{
    background-image: url("https://i.ibb.co/CMrFL8f/HomeBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: relative;
}

.Navbar{
    background-color: #172155;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.navimg{
    margin-left: 20px;
    margin-top: 1vh;
}
.heading{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 100px;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}